@import models.entities.DiffuserData

@import java.util
@import models.entities.FluxData
@(form: Form[DiffuserData],
        fluxes: util.List[FluxData],
        error: String)


@main("Diffuser Creation Page", error) {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        <form action="@routes.DiffuserController.create()" method="POST">
            @helper.CSRF.formField

            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" class="form-control" id="inputName" placeholder="Diffuser name...">
            </div>

            <div class="form-group col-md-4">
                <label for="inputDays">Days</label>
                <select name="days[]" id="inputDays" class="form-control" multiple="multiple" >
                    <option>MON</option>
                    <option>TUE</option>
                    <option>WED</option>
                    <option>THU</option>
                    <option>FRI</option>
                    <option>SAT</option>
                    <option>SUN</option>
                </select>
            </div>


            <div class="form-group col-md-4">
                <label for="inputFluxName">Flux</label>
                <select name="fluxName" id="inputFluxName" class="form-control" >
                @for(flux <- fluxes) {
                    <option>@flux.getName</option>
                }
                </select>
            </div>

            <div class="form-group">
                <label for="inputStartTime">Start time</label>
                <input name="startTime" type="text" class="form-control" id="inputStartTime" placeholder="Start time (hh:hh)">
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
}