@import models.entities.DiffuserData
@import java.util

@(diffusers: util.List[DiffuserData], error: String)


@main("Diffusers Main Page") {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(error != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@error</strong>
            </div>
        }

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
            @if(diffusers != null) {
                @for(diffuser <- diffusers) {
                    <tr>
                        <td>@diffuser.getName()</td>

                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">

                                <a class="btn btn-secondary" href="@routes.DiffuserController.updateView(diffuser.getName)">Update Diffuser</a>
                                <a class="btn btn-secondary" href="@routes.DiffuserController.activateView(diffuser.getName)">Activate Diffuser</a>


                                </form>
                                <form method="get" action="@routes.DiffuserController.deactivate(diffuser.getName)">
                                    @helper.CSRF.formField
                                <button type="submit" class="btn btn-secondary">Deactivate Diffuser</button>
                                </form>
                                <form method="post" action="@routes.DiffuserController.delete(diffuser.getName)">
                                    @helper.CSRF.formField
                                <button type="submit" class="btn btn-danger">Delete Diffuser</button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>

        <a class="btn btn-primary" role="button" href="@routes.DiffuserController.create()">Create new Diffuser</a>
    </div>
}