@import models.db.Screen
@import models.entities.FluxData

@(form: Form[FluxData], message: String)


@main("Flux Creation Page") {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(message != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@message</strong>
            </div>
        }

        <form action="@routes.FluxController.create()" method="POST">
            @helper.CSRF.formField
            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" class="form-control" id="inputName" placeholder="Flux name...">
            </div>
            <div class="form-group">
                <label for="inputUrl">URL</label>
                <input name="url" type="text" class="form-control" id="inputUrl" placeholder="Flux url...">
            </div>
            <div class="form-group">
                <label for="inputDuration">Duration</label>
                <input name="duration" type="text" class="form-control" id="inputDuration" placeholder="Duration (minutes)">
            </div>
            <div class="form-group col-md-4">
                <label for="inputType">Type</label>
                <select name="type" id="inputType" class="form-control">
                    <option selected>URL</option>
                    <option>VIDEO</option>
                    <option>TEXT</option>
                    <option>IMAGE</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="inputSite">Site</label>
                <select name="site" id="inputSite" class="form-control">
                    <option selected></option>
                    <option>Cheseaux</option>
                    <option>St-Roch</option>
                    <option>Y-Park</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
}