@import models.db.Screen
@import models.entities.ScreenData

@(form: Form[ScreenData], error: String)


@main("Screen Register Page") {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(error != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@error</strong>
            </div>
        }

        @helper.form(routes.ScreenController.create()) {
            @helper.CSRF.formField
            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" class="form-control" id="inputName" placeholder="Screen name...">
            </div>
            <div class="form-group">
                <label for="inputMac">MAC address</label>
                <input name="mac" type="text" class="form-control" id="inputMac" placeholder="Screen MAC address...">
            </div>
            <div class="form-group">
                <label for="inputCode">Code</label>
                <input name="code" type="text" class="form-control" id="inputCode" placeholder="Register code...">
            </div>
            <div class="form-group col-md-4">
                <label for="inputResolution">Resolution</label>
                <select name="resolution" id="inputResolution" class="form-control">
                    <option selected>1080p</option>
                    <option>720p</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputSite">Site</label>
                <select name="site" id="inputSite" class="form-control">
                    <option selected>Cheseaux</option>
                    <option>St-Roch</option>
                    <option>Y-Park</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        }
    </div>
}