@import models.db.Screen
@import models.entities.ScreenData

@import java.util
@(screens: util.List[ScreenData],
        error: String)


@main("Screens Main Page", error) {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">MAC</th>
                    <th scope="col">Actif</th>
                </tr>
            </thead>
            <tbody>
                @if(screens != null) {
                    @for(screen <- screens) {
                        <tr>
                            <td>@screen.getName()</td>
                            <td>@screen.getMac()</td>
                            <td>@screen.isActive()</td>
                            <td>

                                <div class="button">
                                    <a class="btn btn-primary" href="@routes.ScreenController.updateView(screen.getMac())">Update Screen</a>
                                </div>
                                <form method="post" action="@routes.ScreenController.delete(screen.getMac())">
                                @helper.CSRF.formField
                                    <button type="submit" class="btn btn-danger">Delete Screen</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <a type="button" class="btn btn-primary" role="button" href="@routes.ScreenController.create()">Register new Screen</a>
    </div>
}