
@import models.entities.ScheduleData
@import models.entities.FluxData
@import java.util
@(form: Form[ScheduleData],
        fluxes: util.List[FluxData],
        fallbacks: util.List[FluxData],
        error: String)(implicit request: Http.Request)


@main("Schedule Creation Page", error) {

    <style>
            body {
                color: #404E67;
                background: #F5F7FA;
                font-family: 'Open Sans', sans-serif;
            }
            .table-wrapper {
                width: 700px;
                margin: 30px auto;
                background: #fff;
                padding: 20px;
                box-shadow: 0 1px 1px rgba(0,0,0,.05);
            }
            .table-title {
                padding-bottom: 10px;
                margin: 0 0 10px;
            }
            .table-title h2 {
                margin: 6px 0 0;
                font-size: 22px;
            }
            .table-title .add-new {
                float: right;
                height: 30px;
                font-weight: bold;
                font-size: 12px;
                text-shadow: none;
                min-width: 100px;
                border-radius: 50px;
                line-height: 13px;
            }
            .table-title .add-new i {
                margin-right: 4px;
            }
            table.table {
                table-layout: fixed;
            }
            table.table tr th, table.table tr td {
                border-color: #e9e9e9;
            }
            table.table th i {
                font-size: 13px;
                margin: 0 5px;
                cursor: pointer;
            }
            table.table th:last-child {
                width: 100px;
            }
            table.table td a {
                cursor: pointer;
                display: inline-block;
                margin: 0 5px;
                min-width: 24px;
            }
            table.table td a.add {
                color: #27C46B;
            }
            table.table td a.edit {
                color: #FFC107;
            }
            table.table td a.delete {
                color: #E34724;
            }
            table.table td i {
                font-size: 19px;
            }
            table.table td a.add i {
                font-size: 24px;
                margin-right: -1px;
                position: relative;
                top: 3px;
            }
            table.table .form-control {
                height: 32px;
                line-height: 32px;
                box-shadow: none;
                border-radius: 2px;
            }
            table.table .form-control.error {
                border-color: #f50000;
            }
            table.table td .add {
                display: none;
            }
    </style>

    <script type="text/javascript">

            function changeRowFunc(rowId) {
                var selectBox = rowId;
                var selectedValue = selectBox.options[selectBox.selectedIndex].value;
                $('#' + selectBox.id).val(selectedValue);
                //document.getElementById(selectBox.id).value = "defaultValue";
            }

            $(document).ready(function(){

                $('[data-toggle="tooltip"]').tooltip();
                var actions = "<a class=\"add\" title=\"Add\" data-toggle=\"tooltip\"><i class=\"material-icons\">&#xE03B;</i></a>\n" +
                        "      <a class=\"edit\" title=\"Edit\" data-toggle=\"tooltip\"><i class=\"material-icons\">&#xE254;</i></a>\n" +
                        "      <a class=\"delete\" title=\"Delete\" data-toggle=\"tooltip\"><i class=\"material-icons\">&#xE872;</i></a>";
                // Append table with add row form on add new button click
                $(".add-new").click(function(){
                    $(this).attr("disabled", "disabled");
                    var index = $("table tbody tr:last-child").index();
                    var rowId = "inputFluxes" + index;
                    var row = '<tr class="flux-row">' +
                            '<td> <select multiple type="text" id="' + rowId + '" class="form-control new-row-flux" onchange="changeRowFunc(' + rowId + ')">\n' +
                            '                @for(flux <- fluxes) {\n' +
                            '                    <option>@flux.getName</option>\n' +
                            '                }\n' +
                            '                </select></td>' +
                            '<td>  <input type="text" class="form-control new-row-time" name="flux_time" >\n</td>' +
                            '<td>' + actions + '</td>' +
                            '</tr>';
                    $("table").append(row);
                    $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
                    $('[data-toggle="tooltip"]').tooltip();
                });
                // Add row on add button click
                $(document).on("click", ".add", function(){
                    var time_empty = false;
                    var flux_empty = false;
                    var input_text = $(this).parents("tr").find('input[type="text"]');
                    var select = $(this).parents("tr").find('select[type="text"]');
                    var hiddenValue = "";
                    select.each(function(){
                        if(!$(this).val()){
                            $(this).addClass("error");
                            flux_empty = true;
                        } else{
                            $(this).removeClass("error");
                        }
                    });
                    $(this).parents("tr").find(".error").first().focus();
                    if(!flux_empty){
                        select.each(function(){
                            hiddenValue += $(this).val();
                            $(this).parent("td").html($(this).val());
                        });

                    }
                    hiddenValue += "#";
                    if(!time_empty){
                        input_text.each(function(){
                            hiddenValue += $(this).val();
                            $(this).parent("td").html($(this).val());
                        });
                    }
                    $(this).parents("tr").find(".add, .edit").toggle();
                    $(".add-new").removeAttr("disabled");
                    $(this).html('<input name="fluxes[]" type="hidden" class="form-control" value="' + hiddenValue + '">');
                });
                // Edit row on edit button click
                $(document).on("click", ".edit", function(){
                    $(this).parents("tr").find("td:not(:last-child)").each(function(){
                        $(this).html('<input name="' + $(this).attr("name") + '" type="text" class="form-control" value="' + $(this).text() + '">');
                    });
                    $(this).parents("tr").find(".add, .edit").toggle();
                    $(".add-new").attr("disabled", "disabled");
                });
                // Delete row on delete button click
                $(document).on("click", ".delete", function(){
                    $(this).parents("tr").remove();
                    $(".add-new").removeAttr("disabled");
                });
            });
    </script>


    <div class="tab-pane active" id="vertical" role="tabpanel">

        @helper.form(routes.ScheduleController.create(), '_id -> "form") {
            @helper.CSRF.formField
            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" class="form-control" id="inputName" placeholder="Schedule name...">
            </div>

            <div class="form-group">
                <label for="inputStartTime">Start Time</label>
                <input name="startTime" type="text" class="form-control" id="inputStartTime" placeholder="Start time... (hh:mm)">
            </div>

            <div class="form-group col-md-4">
                <label for="inputDays">Days</label>
                <select name="days[]" id="inputDays" class="form-control" multiple="multiple" >
                    <option>MON</option>
                    <option>TUE</option>
                    <option>WED</option>
                    <option>THU</option>
                    <option>FRI</option>
                    <option>SAT</option>
                    <option>SUN</option>
                </select>
            </div>

            <div class="container">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>Fluxes</h2></div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="inputFallbacks">Fallback fluxes</label>
                <select name="fallbackFluxes[]" id="inputFallbacks" class="form-control" multiple>
                @for(flux <- fallbacks) {
                    <option>@flux.getName</option>
                }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        }
    </div>
}