@import models.entities.TeamData
@import models.db.Screen

@import models.entities.FluxData
@import java.util
@import models.entities.ScreenData
@import models.entities.UserData
@import models.entities.ScheduleData
@import models.entities.DiffuserData
@(form: Form[TeamData],
        fluxes: util.List[FluxData],
        fluxes_curr: util.List[FluxData],
        screens: util.List[ScreenData],
        screens_curr: util.List[ScreenData],
        members: util.List[UserData],
        members_curr: util.List[UserData],
        admins_curr: util.List[UserData],
        schedules: util.List[ScheduleData],
        schedules_curr: util.List[ScheduleData],
        diffusers: util.List[DiffuserData],
        diffusers_curr: util.List[DiffuserData],
        data: TeamData,
        error: String)


@main("Team Update Page") {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(error != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@error</strong>
            </div>
        }

        <form action="@routes.TeamController.update()" method="POST">
            @helper.CSRF.formField

            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" readonly class="form-control-plaintext" id="inputName" value="@data.getName">
            </div>

            <div class="form-group col-md-4">
                <label for="inputFluxes">Fluxes</label>
                <select name="fluxes[]" id="inputFluxes" class="form-control" multiple="multiple" >
                @for(flux <- fluxes) {
                    <option>@flux.getName</option>
                }
                </select>

                <label for="currentFluxes"> Current Fluxes </label>
                <ul id="currentFluxes" class="list-group">
                @for(flux <- fluxes_curr) {
                    <li class="list-group-item">@flux.getName</li>
                }
                </ul>
            </div>




            <div class="form-group col-md-4">
                <label for="inputScreens">Screens</label>
                <select name="screens[]" id="inputScreens" class="form-control" multiple="multiple" >
                @for(screen <- screens) {
                    <option>@screen.getMac</option>
                }
                </select>

                <label for="currentScreens"> Current Screens </label>
                <ul id="currentScreens" class="list-group">
                @for(screen <- screens_curr) {
                    <li class="list-group-item">@screen.getName</li>
                }
                </ul>
            </div>

            <div class="form-group col-md-4">
                <label for="inputMembers">Members</label>
                <select name="members[]" id="inputMembers" class="form-control" multiple="multiple" >
                @for(member <- members) {
                    <option>@member.getEmail</option>
                }
                </select>

                <label for="currentMembers"> Current Members </label>
                <ul id="currentMembers" class="list-group">
                @for(member <- members_curr) {
                    <li class="list-group-item">@member.getEmail</li>
                }
                </ul>
            </div>

            <div class="form-group col-md-4">
                <label for="inputAdmins">Admins</label>
                <select name="admins[]" id="inputAdmins" class="form-control" multiple="multiple" >
                @for(member <- members) {
                    <option>@member.getEmail</option>
                }
                </select>

                <label for="currentAdmins"> Current Admins </label>
                <ul id="currentAdmins" class="list-group">
                @for(admin <- admins_curr) {
                    <li class="list-group-item">@admin.getEmail</li>
                }
                </ul>
            </div>

            <div class="form-group col-md-4">
                <label for="inputSchedules">Schedules</label>
                <select name="schedules[]" id="inputSchedules" class="form-control" multiple="multiple" >
                @for(schedule <- schedules) {
                    <option>@schedule.getName</option>
                }
                </select>

                <label for="currentSchedules"> Current Schedules </label>
                <ul id="currentSchedules" class="list-group">
                @for(schedule <- schedules_curr) {
                    <li class="list-group-item">@schedule.getName</li>
                }
                </ul>
            </div>

            <div class="form-group col-md-4">
                <label for="inputDiffusers">Diffusers</label>
                <select name="diffusers[]" id="inputDiffusers" class="form-control" multiple="multiple" >
                @for(diffuser <- diffusers) {
                    <option>@diffuser.getName</option>
                }
                </select>

                <label for="currentDiffusers"> Current Diffusers </label>
                <ul id="currentDiffusers" class="list-group">
                @for(diffuser <- diffusers_curr) {
                    <li class="list-group-item">@diffuser.getName</li>
                }
                </ul>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    </div>
}