@import java.util
@import models.entities.TeamData
@(teams: util.List[TeamData], error: String)


@main("Team Main Page") {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(error != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@error</strong>
            </div>
        }

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Members</th>
                </tr>
            </thead>
            <tbody>
            @if(teams != null) {
                @for(team <- teams) {
                    <tr>
                        <td>@team.getName()</td>
                        <td>@if(team.getMembers() != null) {
                            team.getMembers().length
                        }</td>
                        <td>
                            <div class="button">
                                <a href="@routes.TeamController.updateView(team.getName())">Update Team</a>
                            </div>
                            <form method="post" action="@routes.TeamController.delete(team.getName)">
                                @helper.CSRF.formField
                            <button type="submit" class="btn btn-danger">Delete Team</button>
                            </form>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>

        <a type="button" class="btn btn-primary" role="button" href="@routes.TeamController.create()">Create new Team</a>
    </div>
}