@import java.util
@import models.entities.UserData

@(users: util.List[UserData],
        error: String)


@main("Users Main Page", error) {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
            @if(users != null) {
                @for(user <- users) {
                    <tr>
                        <td>@user.getEmail()</td>

                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">

                                <a class="btn btn-primary" href="@routes.UserController.updateView(user.getEmail)">Update</a>
                                <form method="post" action="@routes.UserController.delete(user.getEmail)">
                                    @helper.CSRF.formField
                                <button type="submit" class="btn btn-danger">Delete User</button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>

        <a type="button" class="btn btn-primary" role="button" href="@routes.UserController.register()">Register new user</a>
    </div>
}