@import models.db.Screen
@import models.entities.ScreenData

@import models.entities.UserData
@import models.entities.TeamData
@import java.util
@(form: Form[UserData],
        teams: util.List[TeamData],
        error: String)


@main("User Register Page", error) {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @helper.form(routes.UserController.register()) {
            @helper.CSRF.formField
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email...">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password...">
            </div>
            <div class="form-group col-md-4">
                <label for="inputAdmin">Chef d'équipe </label>
                <input name="admin" type="checkbox" class="form-control" id="inputAdmin">
            </div>
            <div class="form-group col-md-4">
                <label for="inputTeam">Team</label>
                <select name="team" id="inputTeam" class="form-control">
                    @for(team <- teams) {
                        <option>@team.getName</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        }
    </div>
}