<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="fr">
    <head>
        <title>Ecrans</title>
        <meta name="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="@routes.Assets.at("javascripts/eventsource.js")" type="text/javascript"></script>

        <style>

      /* "Old" content style */
      body {
          margin: 0;
          padding: 0;
      }
      iframe {
          min-height: 100%;
          min-width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
      }
      .footer{
          position: absolute;
          width: 100%;
          bottom: 0;
          right: 0;
          left: 0;
          height: 50px;
          background: white;
      }
    </style>

    </head>
    <body>
        <div class="frame">
            <iframe id="frame0" class="frame" frameborder="0"></iframe>
        </div>

        <div>
            <img id="image0">
        </div>

        <div id="footer0" class="footer"> hello </div>
    </body>

</html>