@import models.db.Screen
@import models.entities.FluxData

@(form: Form[FluxData], message: String)


@main("Flux Creation Page") {

    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(message != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@message</strong>
            </div>
        }

        @helper.form(routes.FluxController.create()) {
            @helper.CSRF.formField

            <div class="form-group">
                <div class="form-label-group">
                    @helper.inputText(form("name"), '_label -> "Name", 'placeholder -> "Flux name", '_required -> "true")
                </div>
            </div>

            <div class="form-group">
                <div class="form-label-group">
                @helper.inputText(form("url"), '_label -> "URL", 'placeholder -> "Flux url", '_required -> "true")
                </div>
            </div>

            <div class="form-group">
                <div class="form-label-group">
                @helper.inputText(form("duration"), '_label -> "Duration", 'placeholder -> "Duration of flux (milliseconds)", '_required -> "true")
                </div>
            </div>

            <div class="form-group">
                <div class="form-label-group">
                    @helper.select(
                        field = form("type"),
                        options = Seq(
                            "Video" -> "VIDEO",
                            "Text" -> "TEXT",
                            "Image" -> "IMAGE",
                            "Url" -> "URL"
                        )
                )
                </div>
            </div>


            <button type="submit">Create schedule</button>
        }

    </div>
}