@import models.db.Screen
@import models.entities.FluxData

@(form: Form[FluxData], data: FluxData, message: String)


@main("Flux Update Page") {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(message != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@message</strong>
            </div>
        }

        <form action="@routes.FluxController.update()" method="POST">
            @helper.CSRF.formField
            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" class="form-control" id="inputName" value="@data.getName">
            </div>
            <div class="form-group">
                <label for="inputUrl">URL</label>
                <input name="url" type="text" class="form-control" id="inputUrl" value="@data.getUrl">
            </div>
            <div class="form-group">
                <label for="inputDuration">Duration</label>
                <input name="duration" type="text" class="form-control" id="inputDuration" value="@data.getDuration">
            </div>
            <div class="form-group col-md-4">
                <label for="inputType">Type</label>
                <select name="type" id="inputType" class="form-control">
                    <option>URL</option>
                    <option>VIDEO</option>
                    <option>TEXT</option>
                    <option>IMAGE</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
}