
@import models.entities.ScreenData
@import java.util
@import models.entities.ScheduleData
@import models.entities.DiffuserData
@(screens: util.List[ScreenData],
        schedules: util.List[ScheduleData],
        diffusers: util.List[DiffuserData],
        error: String)


@main("Homepage") {

   <div class="tab-pane active" id="vertical" role="tabpanel">

    @if(error != null) {
     <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>@error</strong>
     </div>
    }

    <label for="activeScreensTable">Active screens</label>
    <table class="table table-striped" id="activeScreensTable">
     <thead>
      <tr>
       <th scope="col">Name</th>
       <th scope="col">Site</th>
       <th scope="col">Current flux</th>
      </tr>
     </thead>
     <tbody>
     @if(screens != null) {
      @for(screen <- screens) {
       <tr>
        <td>@screen.getMac</td>
        <td>@screen.getSite</td>
        <td>@screen.getCurrentFluxName</td>
        <td>
         <div class="btn-group" role="group" aria-label="Basic example">
          <a class="btn btn-secondary" href="@routes.ScreenController.deactivate(screen.getMac)">Deactivate Screen</a>
         </div>

        </td>
       </tr>
      }
     }
     </tbody>
    </table>

    <label for="activeSchedulesTable">Active Schedules</label>
    <table class="table table-striped" id="activeSchedulesTable">
     <thead>
      <tr>
       <th scope="col">Name</th>
      </tr>
     </thead>
     <tbody>
     @if(schedules != null) {
      @for(schedule <- schedules) {
       <tr>
        <td>@schedule.getName</td>
       </tr>
      }
     }
     </tbody>
    </table>


    <label for="activeDiffusersTable">Active Diffusers</label>
    <table class="table table-striped" id="activeDiffusersTable">
     <thead>
      <tr>
       <th scope="col">Name</th>
       <th scope="col"> Flux </th>
       <th scope="col">Hour</th>
      </tr>
     </thead>
     <tbody>
     @if(diffusers != null) {
      @for(diffuser <- diffusers) {
       <tr>
        <td>@diffuser.getName</td>
        <td>@diffuser.getFluxName</td>
        <td>@diffuser.getStartTime</td>
       </tr>
      }
     }
     </tbody>
    </table>

   </div>

}
