
@import models.entities.ScreenData
@import java.util
@(screens: util.List[ScreenData], error: String)


@main("Homepage") {

   <div class="tab-pane active" id="vertical" role="tabpanel">

    @if(error != null) {
     <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>@error</strong>
     </div>
    }

    <label for="activeScreensTable">Active screens</label>
    <table class="table table-striped" id="activeScreensTable">
     <thead>
      <tr>
       <th scope="col">Name</th>
       <th scope="col">Site</th>
       <th scope="col">Current flux</th>
      </tr>
     </thead>
     <tbody>
     @if(screens != null) {
      @for(screen <- screens) {
       <tr>
        <td>@screen.getMac()</td>
        <td>@screen.getSite()</td>
        <td>@screen.getCurrentFluxName()</td>
       </tr>
      }
     }
     </tbody>
    </table>

    <label for="activeSchedulesTable">Active Schedules</label>
    <table class="table table-striped" id="activeSchedulesTable">
     <thead>
      <tr>
       <th scope="col">Name</th>
       <th scope="col">Current flux</th>
       <th scope="col">Next Flux</th>
      </tr>
     </thead>
     <tbody>
     @if(screens != null) {
      @for(screen <- screens) {
       <tr>
        <td>@screen.getMac()</td>
        <td>@screen.getSite()</td>
        <td>@screen.getCurrentFluxName()</td>
       </tr>
      }
     }
     </tbody>
    </table>

   </div>

}
