@import models.db.Screen
@import models.entities.FluxData

@import models.entities.ScheduleData
@import java.util
@(schedules: util.List[ScheduleData], error: String)


@main("Schedules Main Page") {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(error != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@error</strong>
            </div>
        }

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
            @if(schedules != null) {
                @for(runningSchedule <- schedules) {
                    <tr>
                        <td>@runningSchedule.getName()</td>

                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">

                                <a class="btn btn-secondary" href="@routes.ScheduleController.updateView(runningSchedule.getName)">Update Schedule</a>
                                <a class="btn btn-secondary" href="@routes.ScheduleController.activateView(runningSchedule.getName)">Activate Schedule</a>

                                <form method="get" action="@routes.ScheduleController.deactivate(runningSchedule.getName)">
                                    @helper.CSRF.formField
                                <button type="submit" class="btn btn-secondary">Deactivate Schedule</button>
                                </form>
                                <form method="post" action="@routes.ScheduleController.delete(runningSchedule.getName)">
                                    @helper.CSRF.formField
                                <button type="submit" class="btn btn-danger">Delete Schedule</button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>

        <a class="btn btn-primary" role="button" href="@routes.ScheduleController.create()">Create new Schedule</a>
    </div>
}