@import models.entities.TeamData
@import models.db.Screen

@import java.util
@import models.entities.ScreenData
@(form: Form[TeamData], screens: util.List[ScreenData], error: String)


@main("Team Creation Page") {

    <style>
            .alert {
                padding: 20px;
                background-color: #f44336;
                color: white;
            }

            .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
            }

            .closebtn:hover {
                color: black;
            }
    </style>

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(error != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@error</strong>
            </div>
        }

        <form action="@routes.TeamController.create()" method="POST">
            @helper.CSRF.formField

            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" class="form-control" id="inputName" placeholder="Team name...">
            </div>

            <div class="form-group col-md-4">
                <label for="inputScreens">Screens</label>
                <select name="screens[]" id="inputScreens" class="form-control" multiple="multiple" >
                    @for(screen <- screens) {
                        <option>@screen.getMac</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
}