@import models.entities.TeamData
@import models.db.Screen

@(form: Form[TeamData], data: TeamData, error: String)


@main("Team Update Page") {

    <div class="tab-pane active" id="vertical" role="tabpanel">

        @if(error != null) {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@error</strong>
            </div>
        }

        <form action="@routes.TeamController.update()" method="POST">
            @helper.CSRF.formField
            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" readonly class="form-control-plaintext" id="inputName" value="@data.getName">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    </div>
}